<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wisc.ece.wiscotrail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WiscoTrail"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".StartTrail" />
        <activity android:name=".TrailInfo" />
        <activity android:name=".ToggleSound" />
        <activity android:name=".ManagementOptions" />
        <activity android:name=".PickLeader"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".MainScreen" />
        <activity android:name=".PickParty"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".FarmNFleet" />
        <activity android:name=".DepartureMonth" />
        <activity android:name=".Shop" />
        <activity android:name=".Minneapolis" />
        <activity android:name=".MississippiRiver" />
        <activity android:name=".EauClaire" />
        <activity android:name=".DevilsLake" />
        <activity android:name=".Madison" />
        <activity android:name=".WisconsinRiver" />
        <activity android:name=".NewGlarus" />
        <activity android:name=".RockRiver" />
        <activity android:name=".Milwaukee" />
        <activity android:name=".Sheboygan" />
        <activity android:name=".GreenBay" />
        <activity android:name=".TravelAnimation" />
        <activity android:name=".Hunt" />
        <activity android:name=".TravelSettings" />
        <activity android:name=".Trade" />
        <activity android:name=".EndGame" />
        <activity android:name=".TrailInfo1" />
        <activity android:name=".ViewSupplies" />
        <activity android:name=".PartyHealth"></activity>
    </application>

</manifest>